USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 9/2/2019 3:37:27 PM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[BookTemplateID] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLoan]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLoan](
	[BookLoanID] [int] IDENTITY(1,1) NOT NULL,
	[BookLoanedOn] [date] NOT NULL,
	[BookDue] [date] NOT NULL,
	[PatronID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_BookLoan] PRIMARY KEY CLUSTERED 
(
	[BookLoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookReservation]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReservation](
	[BookReservationID] [int] IDENTITY(1,1) NOT NULL,
	[DateMade] [date] NOT NULL,
	[PatronID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[BookLoanID] [int] NULL,
 CONSTRAINT [PK_BookReservation] PRIMARY KEY CLUSTERED 
(
	[BookReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTemplates]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTemplates](
	[BookTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nchar](20) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Title] [nchar](200) NOT NULL,
 CONSTRAINT [PK_BookTemplates] PRIMARY KEY CLUSTERED 
(
	[BookTemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTransfer]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTransfer](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[PatronID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[ToBranchID] [int] NOT NULL,
 CONSTRAINT [PK_BookTransfer] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StreetAddress] [nvarchar](200) NOT NULL,
	[Zip] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CirculationStatus]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CirculationStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CirculationStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Librarian]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Librarian](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LibrarianID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
 CONSTRAINT [PK_Librarian] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patron]    Script Date: 9/2/2019 3:37:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patron](
	[PatronID] [int] NOT NULL,
	[LibraryCardNumber] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Zip] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Patron] PRIMARY KEY CLUSTERED 
(
	[PatronID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CirculationStatus]    Script Date: 9/2/2019 3:37:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CirculationStatus] ON [dbo].[CirculationStatus]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patron]    Script Date: 9/2/2019 3:37:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patron] ON [dbo].[Patron]
(
	[LibraryCardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patron_1]    Script Date: 9/2/2019 3:37:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patron_1] ON [dbo].[Patron]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Book]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Book2] FOREIGN KEY([StatusID])
REFERENCES [dbo].[CirculationStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Book2]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BookTemplates] FOREIGN KEY([BookTemplateID])
REFERENCES [dbo].[BookTemplates] ([BookTemplateID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BookTemplates]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Branch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([BranchID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Branch]
GO
ALTER TABLE [dbo].[BookLoan]  WITH CHECK ADD  CONSTRAINT [FK_BookLoan_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookLoan] CHECK CONSTRAINT [FK_BookLoan_Book]
GO
ALTER TABLE [dbo].[BookLoan]  WITH CHECK ADD  CONSTRAINT [FK_BookLoan_Patron] FOREIGN KEY([PatronID])
REFERENCES [dbo].[Patron] ([PatronID])
GO
ALTER TABLE [dbo].[BookLoan] CHECK CONSTRAINT [FK_BookLoan_Patron]
GO
ALTER TABLE [dbo].[BookReservation]  WITH CHECK ADD  CONSTRAINT [FK_BookReservation_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookReservation] CHECK CONSTRAINT [FK_BookReservation_Book]
GO
ALTER TABLE [dbo].[BookReservation]  WITH CHECK ADD  CONSTRAINT [FK_BookReservation_BookLoan] FOREIGN KEY([BookLoanID])
REFERENCES [dbo].[BookLoan] ([BookLoanID])
GO
ALTER TABLE [dbo].[BookReservation] CHECK CONSTRAINT [FK_BookReservation_BookLoan]
GO
ALTER TABLE [dbo].[BookReservation]  WITH CHECK ADD  CONSTRAINT [FK_BookReservation_Patron] FOREIGN KEY([PatronID])
REFERENCES [dbo].[Patron] ([PatronID])
GO
ALTER TABLE [dbo].[BookReservation] CHECK CONSTRAINT [FK_BookReservation_Patron]
GO
ALTER TABLE [dbo].[BookTemplates]  WITH CHECK ADD  CONSTRAINT [FK_BookTemplates_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[BookTemplates] CHECK CONSTRAINT [FK_BookTemplates_Author]
GO
ALTER TABLE [dbo].[BookTransfer]  WITH CHECK ADD  CONSTRAINT [FK_BookTransfer_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookTransfer] CHECK CONSTRAINT [FK_BookTransfer_Book]
GO
ALTER TABLE [dbo].[BookTransfer]  WITH CHECK ADD  CONSTRAINT [FK_BookTransfer_Branch] FOREIGN KEY([PatronID])
REFERENCES [dbo].[Branch] ([BranchID])
GO
ALTER TABLE [dbo].[BookTransfer] CHECK CONSTRAINT [FK_BookTransfer_Branch]
GO
ALTER TABLE [dbo].[BookTransfer]  WITH CHECK ADD  CONSTRAINT [FK_BookTransfer_Patron] FOREIGN KEY([PatronID])
REFERENCES [dbo].[Patron] ([PatronID])
GO
ALTER TABLE [dbo].[BookTransfer] CHECK CONSTRAINT [FK_BookTransfer_Patron]
GO
ALTER TABLE [dbo].[Librarian]  WITH CHECK ADD  CONSTRAINT [FK_Librarian_Branch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([BranchID])
GO
ALTER TABLE [dbo].[Librarian] CHECK CONSTRAINT [FK_Librarian_Branch]
GO
ALTER TABLE [dbo].[Librarian]  WITH CHECK ADD  CONSTRAINT [FK_Librarian_Patron] FOREIGN KEY([LibrarianID])
REFERENCES [dbo].[Patron] ([PatronID])
GO
ALTER TABLE [dbo].[Librarian] CHECK CONSTRAINT [FK_Librarian_Patron]
GO
USE [master]
GO
